#sec-2 {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}
#sec-2 h2 {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  /* padding-bottom: 250px; */
  /* padding: 58px 0 16px; */
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  img {
    object-fit: cover;
  }
  #sec-2 {
    /* width: 100%; */
    margin: auto;
    margin-bottom: 20px;
  }
  #sec-2 h2 {
    width: 100%;
    font-size: 45px;
    text-align: center;
  }
  .card-container {
    /* padding: 20px; */
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
