body {
  /* position: relative; */
}
#m-btn {
  padding: 5px;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  /* width: 200px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  /* color: black; */
  position: fixed;
  outline: none;
  user-select: none;
  bottom: 5%;
  right: 5%;

  background: linear-gradient(121deg, #ff0000 0%, #ff0000 100%),
    linear-gradient(140deg, #ff5454 27%, #223dcb 100%),
    linear-gradient(140deg, #4e9c51 0%, #001aff 72%),
    linear-gradient(64deg, #6e00ff 0%, #0038ff 100%),
    radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%),
    radial-gradient(100% 100% at 70% 0%, #7a3b00 0%, #1dac92 100%);
  background-blend-mode: overlay, overlay, difference, difference, color-burn,
    exclusion;
}
#m-btn:hover {
  background-color: rgb(58, 27, 27);
  color: black;
}
