#sec-4 {
  width: 80%;
  margin: auto;
}
#sec-4 h2 {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  /* padding-bottom: 250px; */
  /* padding: 58px 0 16px; */
}
#sec-4 p {
  font-size: 1.4rem;
}

#sec-4 a {
  border: 1px dotted white;
  padding: 15px;
  transition: 0.2s;
}
#sec-4 a:hover {
  padding: 25px;
  border: 5px dotted white;
}
