.card {
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: left;
  border-bottom: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
}
img {
  height: 25vh;
  /* overflow-y: hidden; */
  width: 100%;
}

#link {
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(68, 16, 16);
  display: inline-block;
  margin-bottom: 10px;
}
